# dependencies
node_modules

# next
.next
out
next-env.d.ts
*.tsbuildinfo

# misc
.DS_Store
*.pem
.vscode
.idea

# logs
logs
*.log
npm-debug.log*

# env
.env
.env.*
!.env.example

# test
coverage
test-results
playwright-report
